@import '../../styles/shared.scss';

.ui.menu.top-menu {
  border: none; // To remove semantic-ui's bottom border
  height: $header-nav-height;
  .logo {
    width: $sidebar-left-width;
    
    .logo-link {
      padding-right: 20%;
      padding-top: 10%;
      padding-bottom: 10%;
      outline: none;
    }
  }

  .nav-container {
    justify-content: space-between; // maximize whitespace between elements
    flex-grow: 1; // take available space in the flex container
    padding: 0;

    .search-input {
      padding-left: 0;
      width: 40%; 
  
      form {
        width: 100%;
      }
    }
    
    .header-icon {
      color: #a0a0a0;
    }
  }   
}
