@import '../../styles/shared.scss';


.ui.menu.fixed.side-nav {
  background-color: #f5f5f5;
  margin-top: calc( #{$header-nav-height} + #{1px} );
  overflow-y: auto;
  padding-bottom: calc( #{$header-nav-height} + #{8px} );

  .sidebar-item:hover {
    background: #ebebeb;
  }
}
.side-nav.ui.vertical.menu {
  width: $sidebar-left-width;
}